:root {
    --tile-size: 10vw;
    --tile-margin: 1vw;
    --tile-border-radius: 1vw;
}

@media only screen and (max-width: 720px) {
    :root {
        --tile-size: 20vw;
        --tile-margin: 2vw;
        --tile-border-radius: 2vw;
    }
}



.tile {
    background-color: rgb(194, 170, 250);
    width: var(--tile-size);
    height: var(--tile-size);
    margin: var(--tile-margin);
    border: 0;
    border-radius: var(--tile-border-radius);
    box-shadow: 2px 2px 5px rgba(124, 124, 124, 0.1);
    opacity: 1;
}

.tile:hover {
    background-color: rgb(183, 154, 252);
    box-shadow: 2px 2px 5px rgba(124, 124, 124, 0.5);
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game-grid {
    display: grid;
    /* grid: repeat(3, auto) / row auto; */
    grid: repeat(3, auto) / auto-flow auto;
    /* grid-auto-flow: row; */
}

.app-menu {
    position: sticky;
    height: 80px;
    width: 280px;
    justify-self: center;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.text-bar {
    border-radius: .5vw;
    background-color: var(--accent-bg-2);
    color: var(--accent);
}

#message {
    border-radius: .5vw;
    background-color: var(--accent-bg-2);
    color: var(--accent);
}

.blinking {
    width: 5px;
    height: 1.8rem;
    margin-left: 5px;
    background-color: var(--text);
    animation: blink 2s infinite; /* 1 segundo para ciclo completo (500ms ligado, 500ms desligado) */
}

@keyframes blink {
    0%, 50% {
        opacity: 1; /* Visível nos primeiros 50% */
    }
    51%, 100% {
        opacity: 0; /* Invisível nos últimos 50% */
    }
}
